<!DOCTYPE html>
<html lang="es">
  <head>
    {% block head %}
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>
        {% block title %}

        {% endblock %}- Symfofilms
      </title>

      <script src="{{ asset('js/app.js') }}" defer></script>
      <link rel="stylesheet"
        type="text/css"
        href="{{ asset('css/app.css') }}" />
      <link rel="stylesheet"
        type="text/css"
        href="{{ asset('css/bootstrap.min.css') }}" />
      <link rel="shortcut icon"
        href="{{ asset('images/template/logo.png') }}"
        type="image/png" />
    {% endblock %}
  </head>
  <body class="container p-3">
    {% block header %}
      <header class="row border bg-light">
        <hgroup class="col-8">
          <h1>
            SymfoFilms
          </h1>
          <h2>
            Página de cine, ejemplo de clase.
          </h2>
        </hgroup>
        <figure class="col-4 text-end">
          <a href="/">
            <img class="h-auto"
              alt="Logo"
              src="{{ asset('images/template/Logo.png') }}" />
          </a>
        </figure>
      </header>
    {% endblock %}
    {% block nav %}
      <div class="container row">
        <nav class="col-9">
          <ul class="nav nav-pills p-2">
            <li class="nav-item mr-2">
              <a class="nav-link {{app.request.get('_route')=='portada'?'active'}}" href="{{ path('portada') }}">Inicio</a>
            </li>
            <li class="nav-item mr-2">
              <a class="nav-link {{app.request.get('_route')=='pelicula_list'?'active'}}" href="{{ path('pelicula_list') }}">
                Películas
              </a>
            </li>
            <li class="nav-item mr-2">
              <a class="nav-link {{app.request.get('_route')=='pelicula_create'?'active'}}" href="{{ path('pelicula_create') }}">Nueva peli</a>
            </li>            
            <li class="nav-item mr-2">
              <a class="nav-link {{app.request.get('_route')=='actor_list'?'active'}}" href="{{ path('actor_list') }}">
                Actores
              </a>
            </li>
            <li class="nav-item mr-2">
              <a class="nav-link {{app.request.get('_route')=='actor_create'?'active'}}" href="{{ path('actor_create') }}">Nuevo actor</a>
            </li>
          </ul>
        </nav>
        <div class="col-3 pt-2 text-end">
          {{ 'now'|date('d/m/Y H:i', timezone = 'Europe/Madrid') }}
        </div>
      </div>
    {% endblock %}
    <main class="my-3">
      {% block success %}
        {% for message in app.flashes('success') %}
          <div class="alert alert-success">
            {{ message }}
          </div>
        {% endfor %}
      {% endblock %}

      {% block main %}

      {% endblock %}
    </main>

    {% block footer %}
      <footer class="page-footer font-small p-4 bg-light">
        <p>
          Aplicación desarrollada haciendo uso de <b>Symfony</b> y <b>Bootstrap</b>
        </p>
      </footer>
    {% endblock %}
  </body>
</html>
